<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keyword }}">
<meta name="author" content="{{ site.author }}">
<meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
<meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />

<title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

<link rel="manifest" href="{{ '/pwa/manifest.json' | relative_url }}">
<link rel="icon" href="{{ '/img/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/img/apple-touch-icon.png' | relative_url }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url | absolute_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}?v=20260804">
